PORT=3000
HOST=127.0.0.1
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=atuistas
DB_USER=postgres
DB_PASSWORD=
ATUISTAS_CODE_ENCRYPTION_KEY=
ATUISTAS_VAPID_PUBLIC_KEY=
ATUISTAS_VAPID_PRIVATE_KEY=
ATUISTAS_VAPID_SUBJECT=mailto:admin@example.com
